.TransactionItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TransactionItem-negative .TransactionItem-Text {
  color: red;
}
.TransactionItem-Text {
  width: 90%;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 12px;
  margin-right: 10px;
}
